.Rproj.user
.Rhistory
.RData
.Ruserdata
database.sqlite
Match.rds
Player_all.rds
Project_SPL.Rproj
2018.Rproj
Stat-Prog-Len-PJ1.Rproj
STATISTICAL PR LANGUAGES.Rproj
SPL project.Rproj
DF_loadings.csv
varimax_rotation_PCA$rotmat.csv